.workouts-container {
  max-width: 1000px;
  padding: 40px;
  color: #fff;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 20px;
}

.workouts-section {
  padding: 0px;
  flex: 1;
}

h3 {
  color: #fff;
}

form {
  margin-bottom: 20px;
}

.form-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px;
}

.form-group {
  flex: 1 1 calc(50% - 30px);
  padding: 0px;
  margin-bottom: 20px;
  text-align: left;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff7300;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #fc8830;
}

form button:active {
  scale: 0.99;
}

.training-container {
  padding: 0px;
}

.workout-list {
  list-style: none;
  padding: 0;
}

.workout-item {
  background: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.workout-item p {
  margin: 5px 0;
}

.notes-section {
  width: 350px;
  max-width: 350px;
  flex: 1;
  margin-left: 20px;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
}


.notes-input {
  padding: 0px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.notes-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-item {
  background: #555;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.note-item {
  padding: 5px;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  cursor: text;
}

.note-item[contenteditable="true"]:focus {
  outline: none;
}
