@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #222, #ff7300);
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  /*background: url('./img/background.jpg') no-repeat;
  background-size: cover;*/
}

.page-container {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.auth-container {
  margin: 35px auto;
}

.container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 650;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

select {
  width: 100%;
  height: 42px;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 14px;
}