.navbar {
    width: 100%;
    max-width: 1000px;
    background: #333;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    color: #ffffff
}

.navbar-brand {
    color: #fff !important;
    font-size: 1.75rem;
    font-weight: 650;
}

.nav-link {
    color: #fff !important;
    border-radius: 10px;
    font-size: 1.25rem;
  }
  
.nav-link:hover {
    background: #333;
}

.exit-btn {
    color: #fff;
    background: none;
    border: none;
}