.navbar {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: #ffffff
}

.navbar-brand {
    color: #fff !important;
    font-size: 1.75rem;
    font-weight: 650;
}

.nav-link {
    color: #fff !important;
    border-radius: 10px;
    font-size: 1.25rem;
  }
  
.nav-link:hover {
    background: #333;
}