.form-group {
  padding: 0px;
  margin-bottom: 20px;
  text-align: left;
}

.password-wrapper {
  padding: 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.visibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #ff7300;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.btn:hover {
  background-color: #fc8830;
}

.btn:active {
  scale: 0.99;
}

.btn-wrapper {
  padding: 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.circular-progress {
  position: absolute;
  top: 21px;
}

.signUp-spec {
  right: 120px;
}

.signIn-spec {
  right: 160px;
}

.switch-btn {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  color: #ff7300;
  border: 2px solid #ff7300;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.switch-btn:hover {
  background: #ff7300;
  color: #fff;
}

.switch-btn:active {
  scale: 0.95;
}
