.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 650;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.visibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #ff7300;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.btn:hover {
  background: #e56600;
}

.btn:active {
  scale: 0.99;
}

.switch-btn {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  color: #ff7300;
  border: 2px solid #ff7300;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.switch-btn:hover {
  background: #ff7300;
  color: #fff;
}

.switch-btn:active {
  scale: 0.95;
}
