@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

body {
  background: linear-gradient(135deg, #222, #ff7300);
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  /*background: url('./img/background.jpg') no-repeat;
  background-size: cover;*/
}

.wrapper {
  margin: 40px auto;
  padding: 40px;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

header .logo {

}

.home-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  background: #222;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.status-item {
  color: #fff;
  font-size: 1.1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
