@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #222, #ff7300);
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  /*background: url('./img/background.jpg') no-repeat;
  background-size: cover;*/
}

.page-container {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.auth-container {
  margin: 50px auto;
}

.container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}